@tailwind base;
@tailwind components;
@tailwind utilities;

div::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
 
div::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
div::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

input, textarea, select, option {
  color: rgb(var(--background-start-rgb));
  background-color: rgb(var(--foreground-rgb));
}
/* Target the option elements inside the combobox */
input[role="combobox"] option {
  /* Add your desired styles for the options here */
  background-color: #f2f2f2;
  color: #333;
}

/* Style the marker for the selected option */
input[role="combobox"] option:checked::before {
  content: "✔";
  margin-right: 5px;
}

/* Style the marker for the unselected options */
input[role="combobox"] option::before {
  content: "";
  margin-right: 5px;
}

/* Style the arrow icon for the combobox */
input[role="combobox"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

@tailwind base;

@layer base {
  button {
    @apply w-full p-2 disabled:bg-slate-500 disabled:cursor-not-allowed bg-teal-500 hover:bg-teal-600;
  }
  h2{
    @apply text-lg
  }
  input, textarea{
    @apply w-full p-2 text-black disabled:bg-slate-500 disabled:cursor-not-allowed bg-white;
  }
}