@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

input, textarea, select, option {
  color: rgb(var(--background-start-rgb));
  background-color: rgb(var(--foreground-rgb));
}
/* Target the option elements inside the combobox */
input[role="combobox"] option {
  /* Add your desired styles for the options here */
  background-color: #f2f2f2;
  color: #333;
}

/* Style the marker for the selected option */
input[role="combobox"] option:checked::before {
  content: "✔";
  margin-right: 5px;
}

/* Style the marker for the unselected options */
input[role="combobox"] option::before {
  content: "";
  margin-right: 5px;
}

/* Style the arrow icon for the combobox */
input[role="combobox"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}